* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.profile-wrapper  {
    padding: 20px;
}

.profile-wrapper h1{
    margin-bottom: 20px;
}

.profile-content {
    display: flex;
}

.profile-content-info {
    max-width: 294px;
}

.profile-info {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 32px;
    font-weight: 700;
}

.profile-info a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.84;
    padding: 5px 10px;
    margin: 0 auto;
    min-width: 60px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(2, 108, 223);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(2, 108, 223);
    transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    text-decoration: none;
    display: inline-block;
}

.profile-info .box {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);;
}
.profile-info .box.user-name {
    text-align: center;
}

.profile-info .box h2 {
    margin-bottom: 20px;
}

.profile-info .box h3, .profile-info .box p {
    margin-bottom: 10px;
}

.profile-info .box:not(:first-child) a {
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    color: rgb(2, 108, 223);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.profile-links {
    border: 1px solid rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
    margin-bottom: 20px;
}

.profile-links ul{
    list-style: none;
}

.profile-links ul li {
    padding: 16px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.profile-links ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    color: rgb(2, 108, 223);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.movies {
    width: 100%;
    margin: 0 0 0 40px;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.movies h2{
    margin-bottom: 20px;
}

.movies-cards {
    display: flex;
}

.movie-card {
    width: calc(100%/3 - 20px);
    max-height: 350px;
    margin:0 10px
}

.movie-card:first-child {
    margin:0 10px 0 0;
}
.movie-card:last-child{
    margin: 0 0 0 10px
}


.movie-card img {
    height: 100%;
    object-fit: fill;
}